@charset "utf-8";
/* Simplify width and height calculations */

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
@import url("https://use.typekit.net/hwq0pun.css");
.col {
  width:100%;
  height:100%;
}

#root {
    background-color: black;
}

header {
    background-color: black;
} 

.aboutme {
    background-color: black;
    width: 70%;
    margin: auto;
}

.contactme{
    background-color: black;
    width: 70%;
    margin: auto;
    

}
body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: kandin, sans-serif;
}

#hero p {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: kandin, sans-serif;
}

#wrapper {
      /* font-family: 'Open Sans', sans-serif; */
      font-family: kandin, sans-serif;

}
#menulink {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: kandin, sans-serif;
}
#navlink {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: kandin, sans-serif;
}



/* ======= the following is from style.css */


body {
    margin: 0;
    color: #4B4B4B;
    font-family: source-sans-pro;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    /* background-color: #EFF5F8; */
}
body {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    background-color: Black;
}
h1, h2 {
    color: #1E1E1E;
    font-style: normal;
    font-weight: 600;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    margin-top: 1em;
    color:rgb(26, 57, 82)
}
#wrapper {
    background-color: black;
}
a {
    font-weight:300;
    text-decoration: none;
}
h6 {
    text-align: center;
}

a:link {
    color: #10ebd2;
}
a:visited {
    color: violet;
}
a:hover, a:active, a:focus {
    color: deepskyblue;
    text-decoration: underline;
}
#menulink {
    background-color: #1E1E1E;
    margin: 0;
    text-align: center;
}
#menulink a {
    color: white;
    font-size: 0.7em;
    text-transform: uppercase;
    /* [disabled]display: block;
*/
    font-weight: 200;
    text-decoration: none;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-family: source-sans-pro;
    font-style: normal;
}
/* #navlinks {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    text-align: center;
}
    /* background-color: #f67c7c;
    background-color: rgba(226, 155, 155, 0.65); */
    /* -webkit-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s; */
/* #navlinks.displayed {
    top: 135px;
    z-index: 1;
    opacity: 1;
} */
/* #navlinks a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(209, 175, 175);
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
} */
#navlinks :hover, #navlinks a:active, #navlinks a:focus, #navlinks a.thispage {
    color: violet;
}
/* main, aside {
    margin-left: 4%;
    margin-right: 4%;
} */
#hero img {
    max-width: 100%;
    display: block;
}
#hero p {
    color: #804c43;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 20px;
    margin-top: 10px;
    font-family: source-sans-pro;
    font-style: normal;
}
figure {
    width: 900px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 20px;
}
figure img {
    max-width: 100%;
}
.user-logo {
    border: none;
    border-radius: 50%;
    width: 20%;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
figcaption {
    display: block;
    margin-top: 0.5em;
    font-size: 0.75em;
    text-transform: uppercase;
}

nav {
    background-color: black;
}

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.grayscale:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    font-size: 0.8em;
    text-align: center;
}

@media (min-width: 700px) {
#menulink {
    display: none;
}
#navlinks {
    max-width: 1000px;
    position: static;
    background-color: transparent;
}
/* #navlinks.collapsed {
    opacity: 1;
} */
#navlinks a {
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    float: left;
    color: aqua;
}
header {
    overflow: hidden;
    font-weight: 700;
}
#hero p {
    width: 36%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    position: absolute;
    color: white;
    border-width: 5px;
    border-style: solid;
    top: 90px;
    right: 33px;
}
#hero {
    width: 100%;
    height: 65vh;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30%;
    color: white;
}

main {
    width: 60%;
}
aside {
    width: 28%;
    margin-left: 0px;
}
main, aside {
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    font-size: 0.875em;
}
footer {
    clear: left;
}

.row {
    background-color: black;
}
@media (min-width: 900px) {
.floatright {
    float: right;
    margin-right: 0px;
    margin-left: 10px;
}
.floatleft {
    float: left;
    margin-right: 10px;
}

}
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 390px;
	height: 550px;
	margin: 0 0 0 10px;
	padding: 0;
}
/* .column div:first-child {
	margin-left: 10px;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
} */

/* .hover03 figure img {
    width:100%;
    height:100%;
} */


/* Zoom Out
.hover03 figure img {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover03 figure:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
} */

