@charset "utf-8";
/* Simplify width and height calculations */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

#root {
    background-color: black;
}

header {
    background-color: black;
} 

.aboutme {
    background-color: black;
    width: 70%;
    margin: auto;
}

.contactme{
    background-color: black;
    width: 70%;
    margin: auto;
    

}
body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: kandin, sans-serif;
}

#hero p {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: kandin, sans-serif;
}

#wrapper {
      /* font-family: 'Open Sans', sans-serif; */
      font-family: kandin, sans-serif;

}
#menulink {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: kandin, sans-serif;
}
#navlink {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: kandin, sans-serif;
}





body {
    margin: 0;
    color: #4B4B4B;
    font-family: source-sans-pro;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    /* background-color: #EFF5F8; */
}
body {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    background-color: Black;
}
h1, h2 {
    font-style: normal;
    font-weight: 900;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    margin-top: 1em;
    color:rgb(26, 57, 82)
}
#wrapper {
    background-color: black;
}
a {
    font-weight:300;
    text-decoration: none;
}
h6 {
    text-align: center;
}

a:link {
    color: #10ebd2;
}
a:hover, a:active, a:focus {
    color: deepskyblue;
    text-decoration: underline;
}
#navlinks {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    text-align: center;
}

.container {
    background-color: black;
}
#navlinks :hover, #navlinks a:active, #navlinks a:focus, #navlinks a.thispage {
    color: violet;
}
#hero img {
    max-width: 100%;
    display: block;
}
#hero p {
    color: rgb(242, 221, 221);
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-top-style: solid;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 20px;
    margin-top: 10px;
}
.user-logo {
    border: none;
    border-radius: 50%;
    width: 20%;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}

nav {
    background-color: black;
    display:flex;
    justify-content: space-around;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    font-size: 0.8em;
    text-align: center;
}

#navlinks {
    max-width: 1000px;
    position: static;
    background-color: transparent;
}
#navlinks a {
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    float: left;
    color: aqua;
}
#hero p {
    width: 36%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    position: absolute;
    color: cyan;
    border-width: 5px;
    border-style: solid;
    top: 90px;
    right: 33px;
}
#hero {
    width: 100%;
    height: 65vh;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30%;
    color: white;
}

main {
    width: 60%;
}
.row {
    background-color: black;
}
 
